# NASA Mars News

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
from pprint import pprint
import time

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\jacqu\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
# Set url and visit page
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
time.sleep(5)

In [4]:
# Create Beautiful Soup object
browser.html
soup = bs(browser.html, 'html.parser')
# soup

In [5]:
# Use Beautiful Soup to find article title and save as variable
article_title = soup.find_all('div', class_='bottom_gradient')[0].find('h3').text

article_title

"New Study Challenges Long-Held Theory of Fate of Mars' Water"

In [6]:
# Use Beautiful Soup to find paragraph text and save as variable
paragraph_text = soup.find_all('div', class_='image_and_description_container')[0].find('div', class_="article_teaser_body").text
paragraph_text

'The new science results indicate that a large quantity of the Red Planet’s water is trapped in its crust rather than having escaped into space.'

# JPL Mars Space Images - Featured Image

In [3]:
# Set base url and visit page
url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
base_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'
browser.visit(url)

In [4]:
# Create Beautiful Soup object
browser.html
soup = bs(browser.html, 'html.parser')
# soup

In [5]:
# Use Beautiful Soup to find full image url
find_image = soup.find('a', class_='showimg fancybox-thumbs')['href']
find_image

'image/featured/mars2.jpg'

In [6]:
# Add find_image to base_url
featured_image_url = base_url + find_image
print(featured_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg

# Mars Facts

In [11]:
# Set base url
url = 'https://space-facts.com/mars/'

In [12]:
# Use read_html funciton in Pandas to scrape data from page
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
# Print list of dataframes
type(tables)

list

In [14]:
# Slice off the first dataframe by indexing into the tables 
df = tables[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [15]:
# Rename Columns
df.columns = ["Measurement", "Value"]
df

            Measurement                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
# Convert to HTML
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Measurement</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [17]:
# Clean up the table
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Measurement</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [18]:
# Set up urls and Beautiful Soup object
base_url = 'https://astrogeology.usgs.gov/'
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
browser.html
soup = bs(browser.html, 'html.parser')

In [19]:
main_page_items = soup.find_all('div', class_ = 'item')

image_urls = []

for item in main_page_items:
    # Get titles
    hemisphere_titles = item.find('div', class_='description').h3.text
    
    # Navigate to individual hemisphere page and grab image link
    hemisphere_page = item.find('div', class_='description').a['href']
    browser.visit(base_url + hemisphere_page)
    soup = bs(browser.html, 'html.parser')

    hemisphere_link = soup.find('div', class_='downloads')
    hemisphere_url = hemisphere_link.find('li').a["href"]
    
    # Set up dictionary
    images_dict = {}
    images_dict['Title'] = hemisphere_titles
    images_dict['Image Link'] = hemisphere_url
    
    # Append dictionary with new values
    image_urls.append(images_dict)
    
print(image_urls)

[{'Title': 'Cerberus Hemisphere Enhanced', 'Image Link': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'Title': 'Schiaparelli Hemisphere Enhanced', 'Image Link': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'Title': 'Syrtis Major Hemisphere Enhanced', 'Image Link': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'Title': 'Valles Marineris Hemisphere Enhanced', 'Image Link': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [20]:
print(hemisphere_url)

https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [21]:
image_urls[1]['Image Link']

'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'